body{
    font: 15pt Arial;
    background-color: rgb(74, 152, 236);
    color:rgb(0, 0, 0);
    text-align: center;
}

header{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 45pt;


}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.32);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: small;

}

#imagem{
    border-radius: 50%;
     width: 350px;
    height: 350px;
}